<!-- Container -->
		<div class="container mx-auto">
			<div class="flex justify-center px-0 my-0">
				<!-- Row -->
				<div class="w-full xl:w-[90%] lg:w-11/12 flex">
					<!-- Col -->
					<div data-aos="zoom-in-right"
						class="w-full h-auto bg-gray-400 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg"
						style="background-image: url('https://img.freepik.com/vector-gratis/ilustracion-concepto-aprendizaje_114360-6186.jpg?w=826&t=st=1677639643~exp=1677640243~hmac=3bcb573fafd2a11cec2d9de160b19ffa2dc6ddf7b9aa2ff37e3965b084b228d9')"
					></div>
					<!-- Col -->
					<div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none" data-aos="zoom-in-left">
						<h3 class="pt-4 text-2xl text-center uppercase font-sans text-sky-600 font-bold">Agregar Celular</h3>
						<form class="px-8 pt-6 pb-8 mb-4 bg-white rounded" action="/celulares/agregar" method="POST">
							<div class="mb-4 md:flex md:justify-between">
								<div class="mb-4 md:mr-2 md:mb-0">
									<label class="block mb-2 text-sm font-bold text-gray-700" for="clave">
										Clave
									</label>
									<input
										class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
										id="clave"
										type="number"
                                        name="clave"
										placeholder="12345"
										required
									/>
								</div>
								<div class="md:ml-2">
									<label class="block mb-2 text-sm font-bold text-gray-700" for="marca">
										Marca
									</label>
									<input
										class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
										type="text"
                                        name="marca" 
                                        id="marca"
										placeholder="Samsung"
										required
									/>
								</div>
                                <div class="md:ml-2">
									<label class="block mb-2 text-sm font-bold text-gray-700" for="precio">
										Precio
									</label>
									<input
										class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
										id="precio"
										type="number"
                                        name="precio"
										placeholder="1500"
										required
									/>
								</div>
							</div>
							<div class="mb-4">
								<label class="block mb-2 text-sm font-bold text-gray-700" for="fechaLanzamiento">
									Fecha de lanzamiento
								</label>
								<input
									class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
									id="fechaLanzamiento"
									type="date"
                                    name="fechaLanzamiento"
									required
								/>
							</div>
							<div class="mb-4 md:flex md:justify-between">
								<div class="md:ml-2">
									<label class="block mb-2 text-sm font-bold text-gray-700" for="ram">
										RAM
									</label>
									<input
										class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
										id="ram"
										type="number"
                                        name="ram"
										placeholder="6"
										required
									/>
								</div>
								<div class="md:ml-2">
									<label class="block mb-2 text-sm font-bold text-gray-700" for="almacenamiento">
										Almacenamiento
									</label>
									<input
										class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
										id="almacenamiento"
										type="number"
                                        name="almacenamiento"
										placeholder="512"
										required
									/>
								</div>
                                <div class="md:ml-2">
									<label class="block mb-2 text-sm font-bold text-gray-700" for="cantCamaras">
										Cantidad de camaras
									</label>
									<input
										class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
										id="cantCamaras"
										type="number"
                                        name="cantCamaras"
										placeholder="2"
										required
									/>
								</div>
							</div>
							<div class="mb-6 text-center">
								<button
									class="w-full px-4 py-2 font-bold text-white bg-sky-500 rounded-full hover:bg-sky-700 focus:outline-none focus:shadow-outline"
									type="submit"
								>
									Agregar
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


{{!-- <form action="/alumnos/agregar" method="POST">
    <div>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" placeholder="Name" id="nombre"/>
    </div>
    <div>
        <label for="paterno">Paterno</label>
        <input type="text" name="paterno" placeholder="Patern" id="paterno"/>
    </div>
    <div>
        <label for="materno">Materno</label>
        <input type="text" name="materno" placeholder="Matern" id="materno"/>
    </div>
    <div>
        <label for="fechaNacimiento">Fecha de Nacimiento</label>
        <input type="date" name="fechaNacimiento" placeholder="Birthday" id="fechaNac"/>
    </div>
    <div>
        <label for="sexo">Sexo</label>
        <input type="text" name="sexo" placeholder="Gender" id="sexo"/>
    </div>
    <div>
        <label for="celular">Celular</label>
        <input type="number" name="celular" placeholder="Cellphone" id="celular"/>
    </div>
    <div>
        <label for="direccion">Dirección</label>
        <input type="text" name="direccion" placeholder="Direction" id="direccion"/>
    </div>
    <button>Agregar</button>        
</form> --}}