<footer class="bg-white mt-[-80px]">
  <div class="mx-auto max-w-7xl overflow-hidden py-20 px-6 sm:py-10 lg:px-8">
    <p class="mt-10 text-center text-xs leading-5 text-gray-500">2023 Sitio diseñado y creado por Brian David Peralta Arriaga.</p>
  </div>
</footer>
