<div class="bg-white" data-aos="zoom-in">
  <div class="mx-auto max-w-7xl py-24 sm:px-2 sm:py-1 lg:px-4">
    <div class="mx-auto max-w-2xl px-4 lg:max-w-none">
      <div class="grid grid-cols-1 items-center gap-y-10 gap-x-16 lg:grid-cols-2">
        <div>
          <h2 class="text-5xl font-extrabold tracking-tight text-gray-900 text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-cyan-600">Aplicación web con stack MEHN</h2>
          <p class="mt-4 text-gray-500 text-xl">Aplicación web para almacenar datos de un producto con el lenguaje de Node js, MongoDB, Express, Handlebars</p>
        </div>
        <div class="aspect-w-3 aspect-h-2 overflow-hidden rounded-lg bg-gray-100">
          <img src="https://i.ibb.co/gD99ySM/fondo-Navbar.jpg" alt="" class="object-cover object-center">
        </div>
      </div>
      <a href="/agregarCelulares" class="hover:bg-blue-100 hover:rounded">
      <div class="mt-5 grid grid-cols-1 gap-y-10 gap-x-8 lg:grid-cols-3 mb-20">
        <div class="sm:flex lg:block p-4">
          <div class="sm:flex-shrink-0 flex justify-center items-center">
            <img class="h-16 w-16" src="https://cdn-icons-png.flaticon.com/512/1063/1063860.png?w=826&t=st=1677639377~exp=1677639977~hmac=7d8369e3ee1cb8bb309d346c63d461835d419f46a8e258a6d5443fab701acaf8" alt="">
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0 text-center">
            <h3 class="text-sm font-medium text-gray-900 uppercase">Agrega Celular</h3>
            <p class="mt-2 text-sm text-gray-500">Aqui puede agregar, actualizar y eliminar celulares</p>
          </div>
        </div>
        </a>

    {{!-- <a href="/agregarAsignaturas" class="hover:bg-blue-100 hover:rounded">
        <div class="sm:flex lg:block p-4">
          <div class="sm:flex-shrink-0 flex justify-center items-center">
            <img class="h-16 w-16" src="https://cdn-icons-png.flaticon.com/512/603/603469.png?w=826&t=st=1677639430~exp=1677640030~hmac=b69ccbc5335c3b112d91cfe0d5d3ecf4df7a1f0944c9f46492f0abea696ac7a7" alt="">
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0 text-center">
            <h3 class="text-sm font-medium text-gray-900 uppercase">Asignaturas</h3>
            <p class="mt-2 text-sm text-gray-500">Aqui puede agregar, actualizar y eliminar alumnos.</p>
          </div>
        </div>
        </a> --}}

    {{!-- <a href="/agregarProfesor" class="hover:bg-blue-100 hover:rounded">
        <div class="sm:flex lg:block p-4">
          <div class="sm:flex-shrink-0 flex justify-center items-center">
            <img class="h-16 w-16" src="https://cdn-icons-png.flaticon.com/512/125/125794.png?w=826&t=st=1677639534~exp=1677640134~hmac=60ac8b9cd0d43fee3949f96cf9252c897046412df8971d5d82b91b83477ce174" alt="">
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0 text-center">
            <h3 class="text-sm font-medium text-gray-900 uppercase">Profesores</h3>
            <p class="mt-2 text-sm text-gray-500">Aqui puede agregar, actualizar y eliminar alumnos</p>
          </div>
        </div>
        </a> --}}
      </div>
    </div>
  </div>
</div>
    <ul>
        {{!-- <li><a href="/">Inicio</a></li>
        <li><a href="/update">Actualizar</a></li> --}}
        {{!-- <li><a href="/agregarProfesor">Agregar Profesor</a></li>
        <li><a href="/agregarAlumnos">Agregar Alumnos</a></li>
        <li><a href="/agregarAsignaturas">Agregar Asignaturas</a></li> --}}
    </ul>